In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
import itertools
from pandas import Series, DataFrame

In [ ]:
dataset = pd.read_csv('Mushroom Input.txt', header = None,delimiter=r"\s+")
dataset.head()

   0   1   2   3   4   5   6   7   8   ...  14  15  16  17  18   19   20   21   22
0   1   5  12  21  23  25  36  39  42  ...  79  88  90  94  97  104  113  120  128
1   1   5  12  21  23  25  36  39  42  ...  79  88  90  94  97  104  108  120  128
2   1   5  12  21  23  25  36  39  42  ...  79  88  90  94  97  104  113  120  128
3   1   5  12  21  23  25  36  39  42  ...  79  88  90  94  97  104  108  120  128
4   1   5  12  21  23  25  36  39  42  ...  79  88  90  94  97  104  113  120  128

[5 rows x 23 columns]

In [ ]:
transactions = []
for i in range(0, 8416):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 23)])
    
# transactions

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)

print(te_ary)
print(type(te_ary))

[[ True False False ... False  True False]
 [ True False False ... False  True False]
 [ True False False ... False  True False]
 ...
 [ True False False ... False  True False]
 [ True False False ... False  True False]
 [ True False False ... False  True False]]
<class 'numpy.ndarray'>

In [ ]:
df = pd.DataFrame(te_ary, columns=te.columns_)
# frequent_itemsets = apriori(df, min_support=0.7, use_colnames=True)

# frequent_itemsets.head()

# frequent_itemsets1 = apriori(df, min_support=0.0, use_colnames=True)
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets
# ls1=frequent_itemsets['support']*len(df) 
# frequent_itemsets.insert(loc=2,column='Count',value=ls1)

# frequent_itemsets.to_csv("Itemset Count.csv")

       support                               itemsets
0     0.533270                                    (1)
1     0.363118                                  (100)
2     0.471483                                  (104)
3     0.388308                                   (11)
4     0.318916                                   (12)
...        ...                                    ...
2582  0.309886       (67, 36, 23, 90, 71, 41, 38, 94)
2583  0.306084       (67, 36, 23, 97, 90, 41, 38, 94)
2584  0.305133       (67, 36, 23, 97, 90, 71, 38, 94)
2585  0.306084  (67, 36, 23, 97, 90, 41, 38, 104, 94)
2586  0.305133  (67, 36, 23, 97, 90, 71, 38, 104, 94)

[2587 rows x 2 columns]

In [ ]:
from mlxtend.frequent_patterns import association_rules

In [ ]:
res=association_rules(frequent_itemsets, metric="support", min_threshold=0.3)
len(res)

78888

In [ ]:
res1=association_rules(frequent_itemsets, metric="support", min_threshold=0.4)
len(res1)

5904

In [ ]:
result = res.append(res1)
result.head()

  antecedents consequents  antecedent support  ...      lift  leverage  conviction
0       (104)         (1)            0.471483  ...  1.489592  0.123097    2.269589
1         (1)       (104)            0.533270  ...  1.489592  0.123097    1.775438
2         (1)        (23)            0.533270  ...  1.528618  0.113080    1.548203
3        (23)         (1)            0.401141  ...  1.528618  0.113080    2.525129
4        (31)         (1)            0.452471  ...  1.816130  0.196923   14.810900

[5 rows x 9 columns]

In [ ]:
a1 = result[(result['support'] >= 0.3) & (result['support'] <= 0.4)]
len(a1)

72984

In [ ]:
result["antecedent_len"] = result["antecedents"].apply(lambda x: len(x))
# res.head()
result["consequent_len"] = result["consequents"].apply(lambda x: len(x))

a = result[ ((result['support'] >= 0.3) & (result['support'] <= 0.4)) &
         ((result['antecedent_len'] == 2) & (result['consequent_len'] == 1)) ]
ant1 = a[["antecedents","consequents","support","confidence","lift"]]

print(ant1.head())
print(ant1.count())

ant1.to_csv("output(range 3 to 4)_8_1.csv")

    antecedents consequents   support  confidence      lift
324    (104, 1)        (23)  0.304183    0.812183  2.024683
325   (104, 23)         (1)  0.304183    0.804020  1.507717
326     (1, 23)       (104)  0.304183    0.930233  1.972993
330    (104, 1)        (36)  0.351711    0.939086  0.963823
331   (104, 36)         (1)  0.351711    0.783898  1.469984
antecedents    885
consequents    885
support        885
confidence     885
lift           885
dtype: int64